.card-container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card {
    width: 300px;
    margin: 20px;
    border-radius: 7px;
    background-color: transparent;
}

.card:hover {
    box-shadow: 0 0 30px 5px var(--lg-green);
}

.card-main {
    height: 165px;
    padding: 10px;
    border-radius: 7px 7px 0 0;
    background: var(--drk-blue);
}

.card-title {
    text-align: center;
    font-family: 'Windlass', cursive;
    letter-spacing: .05em;
}

.card-text {
    font-style: italic;
    padding: 10px;
}

.card-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-radius: 0 0 7px 7px;
    background: var(--drk-blue);
}

.card-btn {
    margin-right: 20px;
    margin-bottom: 10px;
}

.card-btn:hover {
    color: var(--lg-green);
}