.title-text {
    margin: 25px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.title-text h1 {
    font-family: 'Sea of Thieves', cursive;
    font-size: 40px;
    letter-spacing: .15em;
    margin-bottom: 0;
}

.title-text h3 {
    font-style: italic;
    letter-spacing: .1em;
    margin-top: 15px;
    margin-bottom: 40px;
}

.title-text hr {
    border-color: var(--lg-green);
    width: 60%;
}

.title-btn-group button {
    background-color: var(--lg-green);
    color: var(--off-white);
    border: thin solid transparent;
    padding: 10px;
    font-family: inherit;
    border-radius: 5px;
    margin: 10px;
    text-transform: uppercase;
}

.title-btn-group button:hover {
    color: var(--lg-green);
    background-color: transparent;
    border-color: var(--lg-green);
}