.title-text {
    margin: 25px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.title-text h1 {
    font-family: 'Sea of Thieves', cursive;
    font-size: 40px;
    letter-spacing: .2em;
}

.title-text h3 {
    font-style: italic;
    letter-spacing: .1em;
}

.title-text hr {
    border-color: var(--lg-green);
    width: 60%;
}